html {
  padding: 0px;
  margin: 0px;
  font-size: 20px; }

/*Nav*/
#nav {
  display: flex; }
  #nav .nav__logo--contenedor {
    display: flex;
    justify-content: flex-start;
    width: 60%; }
  #nav .nav__container {
    display: flex;
    width: 100%;
    justify-items: flex-end;
    justify-content: space-around;
    align-items: center; }
  #nav .nav__items {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center; }

/*Layout*/
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 7%;
  grid-auto-flow: row;
  grid-template-areas: "aside section section" "aside section section" "aside section section";
  width: 90%;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%; }
  .container .aside {
    grid-area: aside;
    border: 1px solid black; }
  .container #container__productos {
    grid-area: section;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; }
  .container .productos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 0.8rem;
    width: 50%; }

/*FOOTER*/
#footer {
  height: 20%;
  width: 100%; }

/*Imagenes*/
#carrito__img {
  height: 2rem;
  width: 2rem; }
