@import "_variables.scss";
html{
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-family: 'Chakra Petch', sans-serif;
}
/*Nav*/
#nav{
    display: flex;
    //Contenedor del Logo
    .nav__logo--contenedor{
        display: flex;
        justify-content: center;
        width: 60%;
        align-items: center;
    }
    //Contenedor de los items del nav
    .nav__container{
        display: flex;
        width: 100%;
        justify-items: flex-end;
        justify-content: space-around;
        align-items: center;
    }
    .nav__items{
        display: flex;
        flex-direction: row;
        list-style: none;
        align-items: center;
    }
    //Carrito
    .nav__items:last-child{
        @include botones;
        #container__carrito{
          display: flex;
          align-items: center;
          #carrito--texto{
            margin: 0px;
          }
        }
    }
    .nav__items:last-child:hover{
        background-color: $colorFondo;
        color: white;
        cursor: pointer;
    }
    #carrito__img{
        height: 2rem;
        width: 2rem;
    }
    #contador{
      background-color: $colorPrincipalOscuro;
      color: white;
      border: 1px white;
      border-radius: 9999px;
      margin-left: 2px;
      padding: 3px;
    }
    //Color de los links
    .nav__items a{
        color: $colorPrincipal;
        text-decoration: none;
        transition: 1s ease-out;
    }
    .nav__items a:hover{
        color: $colorPrincipalOscuro;
    }
    //Logo principal
    #logo{
      height: 80%;
      transition: 1s ease-in-out;
      position: relative;
    }
    #logo:hover{
        transform: scale(1.1);
    }
}
#containerCarrito{
  display: none;
  position: absolute;
  left: 70%;
  top: 15.5%;
  background-color: white;
  border: 2px solid $colorPrincipalOscuro;
  width: 25%;
  .textoCarritoVacio{
    color: white;
    background-color: $colorPrincipalOscuro;
    border: 1px solid white;
    border-radius: 5px;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  #containerBotonesCarrito{
    display: flex;
    justify-content: space-evenly;
  #botonVaciar{
    background-color: red;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding:2%;
    transition: 0.5s ease-in;
    margin-bottom: 1%;
    margin-top: 1%;
  }
  #botonVaciar:hover{
    background-color: rgb(145, 23, 23)
  }
  #continuarBoton{
  @include botones;
  padding: 2%;
  background-color: white;
  margin-bottom: 1%;
  margin-top: 1%;
  #textoContinuar{
    text-decoration: none;
    color: $colorPrincipal;
    transition: 0.5s ease-in ;
  }
  #textoContinuar:hover{
    color: white;
  }
  }
  #continuarBoton:hover{
    background-color: $colorFondo;
    color: white;
    cursor: pointer;
  }
}
  #tarjeta__items{
    border-bottom: 1px solid $colorPrincipal;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    .card--carrito{
    .card__body{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      .card__imagen{
        height: 4.5rem;
        width: 4rem;
        align-self: center;
      }
      .card__title{
      font-size: 0.7rem;
      }
      .card__precio{
      font-size: 0.7rem;
      color: $colorPrincipalOscuro;
      }
      .eliminarBotonContainer{
        @include botones;
        background-color: white;
        height: 1.5rem;
        width: 1.5rem;
      }
      .eliminarBotonContainer:hover{
        background-color: $colorFondo;
        color: white;
        cursor: pointer;
      }
    }
    }
  }
}
/*Layout productos*/
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 2%;
    grid-auto-flow: row;
    grid-template-areas:
      "aside section section"
      "aside section section"
      "aside section section";
    width: 90%;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    //Filtros de busqueda para los productos
    .aside { 
        grid-area: aside; 
          width: 80%;
          height: 40%;
          background-color: $colorFondo;
          border: 1px solid $colorPrincipalOscuro;
          .aside__subtitulos{
            position: relative;
            left: 25%;
            color: $colorPrincipal;
            font-size: 0.8rem;
            text-align: center;
            background-color: white;
            border: 1px solid $colorPrincipalOscuro;
            border-radius: 10000px;
            width:50%;
            padding: 1%;
          }
          #aside__seleccion{
            @include botones;
            position: relative;
            left: 26%;
          }
          #agregarFiltros{
            @include botones;
            position: relative;
            left: 23.5%;
            background-color: white;
          }
          .oculto{
            display: none;
          }
          .visible{
            display: inline;
          }
      }
    //Productos  
    #container__productos { 
      grid-area: section; 
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-content: center;
  }  
  .productos{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      font-size: 0.8rem;
      width: 50%;
      align-items: center;
  }
  .titulo__producto{
    font-size: 1rem;
    text-align:center;
  }
  .producto--texto{
      text-align: center;
    font-size: 0.8rem;
  }
  .productos__imagenes{
    height: auto;
    width: 80%;
  }
  #carritoCompra{
      height: 100%;
      width:100%;
  }
  .carrito__boton{
    cursor: pointer;
    @include botones;
    text-decoration: none;
    background-color: white;
    padding: 5px;
    font-size: 0.8rem;
    transition: 0.4s ease-in-out;
  }
  .carrito__boton:hover{
    background-color: $colorFondo;
    color: white;
  }
  }
//separador sections
.separador {
    position: relative;
    background:$colorFondo;
    height: 74vh;
  }
  
  .separador::before {
    position: absolute;
    content: '';
    left: 50%;
    z-index: 10;
    width: 111px;
    height: 80px;
    border-radius: 50%;
    background: inherit;
    transform: translateX(-50%) translateY(50%);
    bottom: 0px;
  }
//Seccion finalizar compra
//Titulo y logo
#headerFinalizar{
  .containerLogo{
    display: flex;
    justify-content: center;
  #logoFinalizar{
    height: 30%;
    width: 18%;
}}
.containerTituloFinalizar{
  width: 100%;
  display: flex;
  justify-content: center;
  #tituloFinalizar{
  width: 40%;
  text-align: center;
  color: white;
  background-color: $colorPrincipalOscuro;
  border: 1px solid white;
  border-radius: 10000px;
}}
}
//Formulario y productos seleccionados
#containerFinalGeneral{
  display: flex;
  height: 100%;
  width: 80%;
  justify-content: space-evenly;
#containerCarritoFinal{
  width: 35%;
  .textoContainerCarritoFinal{
    background-color: $colorFondo;
    color: white;
    width: 45%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 1000px;
    border: 1px solid $colorPrincipalOscuro;
  }
  #containerProductosSeleccionados{
    #productosSeleccionados{
    .containerSeleccion{
      height: 100%;
      width: 90%;
      border: 1px solid $colorPrincipalOscuro;
      padding: 1%;
      font-size: 0.8rem;
      margin-top: 1%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      #productoSeleccion{
      color: $colorPrincipalOscuro;
      }
      #precioSeleccion{
      color: $colorPrincipal;
      }
      #imagenSeleccion{
        height: 30%;
        width: 30%;
      }
    }
    }
  }
}
#formularioCompra{
  position: relative;
#tituloDatos{
  text-align: center;
  color: $colorPrincipal;
}
#formulario{
  #containerDatos{
    text-align: center;
  .inputsFormulario{
    border-style: 1px solid $colorPrincipal;
    width: 80%;
    padding: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: $colorFondo;
    border: 0;
    border-radius: 10px;
  }
}
#tituloDatosPago{
  text-align: center;
  color: $colorPrincipal;
}
  #containerTarjeta{
    background-color: $colorFondo;
    height: 10rem;
    border-radius: 10px;
    #containerTarjetaDatos{
    .inputsTarjeta{
    padding: 2%;
    width: 50%;
    border:0;
    background-color: $colorFondo;
    margin-top: 1rem;
    }
    .inputsTarjetaDates{
      width: 30%;
      border: 0;
      margin-left: 0.5rem;
    }
    #codigoTarjeta{
      width: 22%;
    }
    #tagEmision{
    position: absolute;
    left: 230px;
    font-size: 0.5rem;
    color: grey;
    }
    #tagVencimiento{
    position: absolute;
    left: 415px;
    font-size: 0.5rem;
    color: grey;
    }
    }
  }
  #botonComprar{
    @include botones;
    background-color: white;
    padding: 1%;
    margin-top: 0.5rem;
    width: 6rem;
    font-size: 1rem;
    transition: 0.5 ease-in;
    position: relative;
    left: 80%;
  }
  #botonComprar:hover{
    background-color: $colorFondo;
    color: white;
    cursor: pointer;
  }
}
}
}
//Estilos boton popup finalizada compra
#botonVolverTienda{
  @include botones;
  background-color: white;
  transition: 0.5s ease-in;
  padding: 1%;
}
#botonVolverTienda a{
  text-decoration: none;
  color: $colorPrincipal;
}
#botonVolverTienda:hover{
  background-color: $colorFondo;
  color: white;
}
#botonVolverTienda a:hover{
  color: white;
}
/*FOOTER*/
#footer{
    height: 20%;
    width: 100%;
}
