html {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  font-family: 'Chakra Petch', sans-serif; }

/*Nav*/
#nav {
  display: flex; }
  #nav .nav__logo--contenedor {
    display: flex;
    justify-content: center;
    width: 60%;
    align-items: center; }
  #nav .nav__container {
    display: flex;
    width: 100%;
    justify-items: flex-end;
    justify-content: space-around;
    align-items: center; }
  #nav .nav__items {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center; }
  #nav .nav__items:last-child {
    color: #0154ff;
    border: 1px solid #0154ff;
    border-radius: 5px;
    padding: 3px;
    transition: 0.5s ease-in; }
    #nav .nav__items:last-child #container__carrito {
      display: flex;
      align-items: center; }
      #nav .nav__items:last-child #container__carrito #carrito--texto {
        margin: 0px; }
  #nav .nav__items:last-child:hover {
    background-color: #b2c9f7;
    color: white;
    cursor: pointer; }
  #nav #carrito__img {
    height: 2rem;
    width: 2rem; }
  #nav #contador {
    background-color: #0038a8;
    color: white;
    border: 1px white;
    border-radius: 9999px;
    margin-left: 2px;
    padding: 3px; }
  #nav .nav__items a {
    color: #0154ff;
    text-decoration: none;
    transition: 1s ease-out; }
  #nav .nav__items a:hover {
    color: #0038a8; }
  #nav #logo {
    height: 80%;
    transition: 1s ease-in-out;
    position: relative; }
  #nav #logo:hover {
    transform: scale(1.1); }

#containerCarrito {
  display: none;
  position: absolute;
  left: 70%;
  top: 15.5%;
  background-color: white;
  border: 2px solid #0038a8;
  width: 25%; }
  #containerCarrito .textoCarritoVacio {
    color: white;
    background-color: #0038a8;
    border: 1px solid white;
    border-radius: 5px;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%; }
  #containerCarrito #containerBotonesCarrito {
    display: flex;
    justify-content: space-evenly; }
    #containerCarrito #containerBotonesCarrito #botonVaciar {
      background-color: red;
      color: white;
      border: 1px solid black;
      border-radius: 5px;
      padding: 2%;
      transition: 0.5s ease-in;
      margin-bottom: 1%;
      margin-top: 1%; }
    #containerCarrito #containerBotonesCarrito #botonVaciar:hover {
      background-color: #911717; }
    #containerCarrito #containerBotonesCarrito #continuarBoton {
      color: #0154ff;
      border: 1px solid #0154ff;
      border-radius: 5px;
      padding: 3px;
      transition: 0.5s ease-in;
      padding: 2%;
      background-color: white;
      margin-bottom: 1%;
      margin-top: 1%; }
      #containerCarrito #containerBotonesCarrito #continuarBoton #textoContinuar {
        text-decoration: none;
        color: #0154ff;
        transition: 0.5s ease-in; }
      #containerCarrito #containerBotonesCarrito #continuarBoton #textoContinuar:hover {
        color: white; }
    #containerCarrito #containerBotonesCarrito #continuarBoton:hover {
      background-color: #b2c9f7;
      color: white;
      cursor: pointer; }
  #containerCarrito #tarjeta__items {
    border-bottom: 1px solid #0154ff;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; }
    #containerCarrito #tarjeta__items .card--carrito .card__body {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-evenly;
      width: 100%; }
      #containerCarrito #tarjeta__items .card--carrito .card__body .card__imagen {
        height: 4.5rem;
        width: 4rem;
        align-self: center; }
      #containerCarrito #tarjeta__items .card--carrito .card__body .card__title {
        font-size: 0.7rem; }
      #containerCarrito #tarjeta__items .card--carrito .card__body .card__precio {
        font-size: 0.7rem;
        color: #0038a8; }
      #containerCarrito #tarjeta__items .card--carrito .card__body .eliminarBotonContainer {
        color: #0154ff;
        border: 1px solid #0154ff;
        border-radius: 5px;
        padding: 3px;
        transition: 0.5s ease-in;
        background-color: white;
        height: 1.5rem;
        width: 1.5rem; }
      #containerCarrito #tarjeta__items .card--carrito .card__body .eliminarBotonContainer:hover {
        background-color: #b2c9f7;
        color: white;
        cursor: pointer; }

/*Layout productos*/
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 2%;
  grid-auto-flow: row;
  grid-template-areas: "aside section section" "aside section section" "aside section section";
  width: 90%;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%; }
  .container .aside {
    grid-area: aside;
    width: 80%;
    height: 40%;
    background-color: #b2c9f7;
    border: 1px solid #0038a8; }
    .container .aside .aside__subtitulos {
      position: relative;
      left: 25%;
      color: #0154ff;
      font-size: 0.8rem;
      text-align: center;
      background-color: white;
      border: 1px solid #0038a8;
      border-radius: 10000px;
      width: 50%;
      padding: 1%; }
    .container .aside #aside__seleccion {
      color: #0154ff;
      border: 1px solid #0154ff;
      border-radius: 5px;
      padding: 3px;
      transition: 0.5s ease-in;
      position: relative;
      left: 26%; }
    .container .aside #agregarFiltros {
      color: #0154ff;
      border: 1px solid #0154ff;
      border-radius: 5px;
      padding: 3px;
      transition: 0.5s ease-in;
      position: relative;
      left: 23.5%;
      background-color: white; }
    .container .aside .oculto {
      display: none; }
    .container .aside .visible {
      display: inline; }
  .container #container__productos {
    grid-area: section;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center; }
  .container .productos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 0.8rem;
    width: 50%;
    align-items: center; }
  .container .titulo__producto {
    font-size: 1rem;
    text-align: center; }
  .container .producto--texto {
    text-align: center;
    font-size: 0.8rem; }
  .container .productos__imagenes {
    height: auto;
    width: 80%; }
  .container #carritoCompra {
    height: 100%;
    width: 100%; }
  .container .carrito__boton {
    cursor: pointer;
    color: #0154ff;
    border: 1px solid #0154ff;
    border-radius: 5px;
    padding: 3px;
    transition: 0.5s ease-in;
    text-decoration: none;
    background-color: white;
    padding: 5px;
    font-size: 0.8rem;
    transition: 0.4s ease-in-out; }
  .container .carrito__boton:hover {
    background-color: #b2c9f7;
    color: white; }

.separador {
  position: relative;
  background: #b2c9f7;
  height: 74vh; }

.separador::before {
  position: absolute;
  content: '';
  left: 50%;
  z-index: 10;
  width: 111px;
  height: 80px;
  border-radius: 50%;
  background: inherit;
  transform: translateX(-50%) translateY(50%);
  bottom: 0px; }

#headerFinalizar .containerLogo {
  display: flex;
  justify-content: center; }
  #headerFinalizar .containerLogo #logoFinalizar {
    height: 30%;
    width: 18%; }

#headerFinalizar .containerTituloFinalizar {
  width: 100%;
  display: flex;
  justify-content: center; }
  #headerFinalizar .containerTituloFinalizar #tituloFinalizar {
    width: 40%;
    text-align: center;
    color: white;
    background-color: #0038a8;
    border: 1px solid white;
    border-radius: 10000px; }

#containerFinalGeneral {
  display: flex;
  height: 100%;
  width: 80%;
  justify-content: space-evenly; }
  #containerFinalGeneral #containerCarritoFinal {
    width: 35%; }
    #containerFinalGeneral #containerCarritoFinal .textoContainerCarritoFinal {
      background-color: #b2c9f7;
      color: white;
      width: 45%;
      text-align: center;
      padding-top: 1%;
      padding-bottom: 1%;
      border-radius: 1000px;
      border: 1px solid #0038a8; }
    #containerFinalGeneral #containerCarritoFinal #containerProductosSeleccionados #productosSeleccionados .containerSeleccion {
      height: 100%;
      width: 90%;
      border: 1px solid #0038a8;
      padding: 1%;
      font-size: 0.8rem;
      margin-top: 1%;
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
      #containerFinalGeneral #containerCarritoFinal #containerProductosSeleccionados #productosSeleccionados .containerSeleccion #productoSeleccion {
        color: #0038a8; }
      #containerFinalGeneral #containerCarritoFinal #containerProductosSeleccionados #productosSeleccionados .containerSeleccion #precioSeleccion {
        color: #0154ff; }
      #containerFinalGeneral #containerCarritoFinal #containerProductosSeleccionados #productosSeleccionados .containerSeleccion #imagenSeleccion {
        height: 30%;
        width: 30%; }
  #containerFinalGeneral #formularioCompra {
    position: relative; }
    #containerFinalGeneral #formularioCompra #tituloDatos {
      text-align: center;
      color: #0154ff; }
    #containerFinalGeneral #formularioCompra #formulario #containerDatos {
      text-align: center; }
      #containerFinalGeneral #formularioCompra #formulario #containerDatos .inputsFormulario {
        border-style: 1px solid #0154ff;
        width: 80%;
        padding: 2%;
        margin-top: 1%;
        margin-bottom: 1%;
        background-color: #b2c9f7;
        border: 0;
        border-radius: 10px; }
    #containerFinalGeneral #formularioCompra #formulario #tituloDatosPago {
      text-align: center;
      color: #0154ff; }
    #containerFinalGeneral #formularioCompra #formulario #containerTarjeta {
      background-color: #b2c9f7;
      height: 10rem;
      border-radius: 10px; }
      #containerFinalGeneral #formularioCompra #formulario #containerTarjeta #containerTarjetaDatos .inputsTarjeta {
        padding: 2%;
        width: 50%;
        border: 0;
        background-color: #b2c9f7;
        margin-top: 1rem; }
      #containerFinalGeneral #formularioCompra #formulario #containerTarjeta #containerTarjetaDatos .inputsTarjetaDates {
        width: 30%;
        border: 0;
        margin-left: 0.5rem; }
      #containerFinalGeneral #formularioCompra #formulario #containerTarjeta #containerTarjetaDatos #codigoTarjeta {
        width: 22%; }
      #containerFinalGeneral #formularioCompra #formulario #containerTarjeta #containerTarjetaDatos #tagEmision {
        position: absolute;
        left: 230px;
        font-size: 0.5rem;
        color: grey; }
      #containerFinalGeneral #formularioCompra #formulario #containerTarjeta #containerTarjetaDatos #tagVencimiento {
        position: absolute;
        left: 415px;
        font-size: 0.5rem;
        color: grey; }
    #containerFinalGeneral #formularioCompra #formulario #botonComprar {
      color: #0154ff;
      border: 1px solid #0154ff;
      border-radius: 5px;
      padding: 3px;
      transition: 0.5s ease-in;
      background-color: white;
      padding: 1%;
      margin-top: 0.5rem;
      width: 6rem;
      font-size: 1rem;
      transition: 0.5 ease-in;
      position: relative;
      left: 80%; }
    #containerFinalGeneral #formularioCompra #formulario #botonComprar:hover {
      background-color: #b2c9f7;
      color: white;
      cursor: pointer; }

#botonVolverTienda {
  color: #0154ff;
  border: 1px solid #0154ff;
  border-radius: 5px;
  padding: 3px;
  transition: 0.5s ease-in;
  background-color: white;
  transition: 0.5s ease-in;
  padding: 1%; }

#botonVolverTienda a {
  text-decoration: none;
  color: #0154ff; }

#botonVolverTienda:hover {
  background-color: #b2c9f7;
  color: white; }

#botonVolverTienda a:hover {
  color: white; }

/*FOOTER*/
#footer {
  height: 20%;
  width: 100%; }
